---
title: Le Wagon - Middleman - contact
---

<div id="contact" style="background-image: url(<%= image_path 'gallerie5.jpg'%>)">
  <div class="container"></div>

      <%= image_tag "logo-white.png", width: "220" %>


      <div class="boite">
        <p class="wtf">
          <% if I18n.locale == :fr %>
            <a href="http://www.123formbuilder.com/form-3859250/Visitor-Interaction-Form-FR" class="blueLink13">CONTACTEZ NOUS</a>
          <% elsif I18n.locale == :en %>
            <a href="http://www.123formbuilder.com/form-3859162/Visitor-Interaction-Form" class="blueLink13">CONTACT US</a>
          <% else %>
            <a href="http://www.123formbuilder.com/form-3859262/Visitor-Interaction-Form-ES" class="blueLink13">CONTACTO</a>
          <% end %>
        </p>
      </div>


    <div class="contact-content">
      <h4>REFUGE JEANDEL</h4>
      <p>La Pierre Saint-Martin 64 570  ARETTE</p>

      <div class="boite">
        <p class="wtf">
          <a href="tel:+33559661446"> 05 59 66 14 46</a><!--    |   <a href="tel:+33620071989">06 20 07 19 89</a> -->
        </p>
        <p> | </p>
        <p class="wtf">
          <a href="tel:+33620071989"> 06 20 07 19 89</a>
        </p>
      </div>
    </div>




<!--     <form action="/action_page.php">
      <p>Envoyez un message au Refuge Jeandel :</p>
      <fieldset>
        Votre nom :<br>
        <input type="text"><br>
        Votre adresse email :<br>
        <input type="text"><br> -->

<!--         Votre message :<br>
        <input type="text"><br><br> -->

         <!-- <p>
             <label for="ameliorer">
             Votre message :
             </label>
             <br />

             <textarea name="ameliorer" id="ameliorer" rows="5">
             </textarea>
         </p>

        <input type="submit" value="Submit" class="btn btn-primary btn-block banner-button">
      </fieldset>
    </form> -->




  </div>
</div>


