---
title: Le Wagon - Middleman (home)
---

<div id="home" style="background-image: url(<%= image_path 'pica.jpg'%>)">
  <div class="home-content">

    <%= image_tag "logo-white.png", width: "220" %>
    <h4>REFUGE JEANDEL</h4>
    <h5>La  Pierre  Saint-Martin</h5>

    <p class="bouton">
      <%= link_to t('discover'), "about.html" %>
    </p>

    <div class="footer-social-links">
      <a href="https://www.facebook.com/pages/biz/Refuge-Jeandel-474532516062517/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/refuge_jeandel/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="mailto:refugejeandel@orange.fr" title="Email" target="_blank"><i class="fa fa-envelope-o"></i></a>
    </div>

  </div>
</div>
