
.opacity3 {
  background-color: white;
  opacity: 1;
  padding: 20px;
  margin-top: 20%;
}

#about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  padding-bottom: 20px;
  a {
    color: black;
  }
  p {
    margin-top: 1.5em;
    letter-spacing: 3px;
    font-size: 14px;
  }
  img {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  h3 {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  h4 {
    opacity: 0.9;
    filter: alpha(opacity=90);
    letter-spacing: 1px;
  }
  h6 {
    margin-top: 1.5em;
    letter-spacing: 3px;
    font-size: 13px;
  }
}


.wtf2:hover {
  text-decoration-style: dotted;
}
