
#contact {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  text-shadow: 0.3px 0.3px #303D4D;
  p {
    margin-top: 1em;
    letter-spacing: 2px;
  }
  a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  a:hover {
  color: white;
  font-size: 16px;
  text-decoration: none;
  }
  img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-top: 70px;
  }
  h3 {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  h4 {
    opacity: 0.9;
    filter: alpha(opacity=90);
    letter-spacing: 1px;
  }
}

.contact-content {
  border: 1px solid white;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
}
.contact-content:hover {
  background-color: #303D4D;
  opacity: 0.9;
  transition: all 0.4s ease-out;
}

.boite {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.wtf {
  background-image: linear-gradient(to right, white 50%, transparent 50%);
  background-position: 0 1.09em;
  background-repeat: repeat-x;
  background-size: 4px 2px;
}

.wtf:hover {
  background-image: linear-gradient(to right, white 50%, transparent 50%);
  background-position: 0 1.09em;
  background-repeat: repeat-x;
  background-size: 0px 0px;
}


@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body { background-color: #eee; }

.footer-social-links{
  font-size: 80px;
  text-align: center;
}
.footer-social-links a{
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: white;
    opacity: 0.9;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;
    top: 2px;
    left: 1px;
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

}
.footer-social-links a:hover{
    color: #303D4D;
}
.footer-social-links a:hover:before{
    background: #303D4D;
}


