#home {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  p {
    margin-top: 1.5em;
    letter-spacing: 3px;
  }
  a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  a:hover {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  img {
    opacity: 0.7;
    filter: alpha(opacity=80);
  }
  h4 {
    opacity: 0.9;
    filter: alpha(opacity=90);
    letter-spacing: 2px;
  }
  h5 {
    opacity: 0.9;
    filter: alpha(opacity=90);
    letter-spacing: 2px;
  }
}


.bouton {
  color: black;
  width: 220px;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 20px 40px;
  transition: all 0.4s ease-out;
  text-decoration: none;
  opacity: 0.9;
  border: 1px solid white;
  }
.bouton:hover {
  background-color: #303D4D;
  text-decoration: none;
}



