#home {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  p {
    margin-top: 1.5em;
  }
  a {
    color: grey;
    font-size: 16px;
    text-decoration: none;
  }
  img {
    opacity: 0.8;
    filter: alpha(opacity=80)
  }
  h3 {
    opacity: 0.9;
    filter: alpha(opacity=90)
  }
  h4 {
    opacity: 0.9;
    filter: alpha(opacity=90)
  }
}


.bouton {
  background-color: white;
  color: black;
  width: 260px;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 20px 40px;
  transition: all 0.4s ease-out;
  text-decoration: none;
  opacity: 0.9;
  }
.bouton:hover {
  background-color: #303D4D;
  color: white;
  text-decoration: none;
}


