---
title: Le Wagon - Middleman - About (le refuge)
---


<div id="about" style="background-image: url(<%= image_path 'pica.jpg'%>)">

  <div class="container">

      <div class="col-sm-6 col-xs-12">
        <!-- insert <div class="card"> -->
        <div class="opacity3">
          <p>Le refuge a été construit par René Jeandel en 1963, champion de ski dans les années 50 : il est à l'origine de la création de la station.</p>

<p>Il est situé à 1670 mètres d'altitude sur un piton rocheux et bénéficie de ce fait d'une vue panoramique exceptionnelle à 360° sur les différents sommets de la chaîne. Il domine la station de La Pierre Saint Martin, et de cette situation vous découvrez le plus grand lapiaz d'Europe, d'où émerge son point culminant le pic d'Anie (2504 m).
Ce massif calcaire est favorable à la pratique de la randonnée et est devenu au fil des ans La Mecque de la spéléologie en France.</p>

<p>Le refuge est situé en bordure des pistes de ski l'hiver et l'été sur le sentier de grande randonnée qui relie l'Atlantique à la Méditerranée (GR 10) il est aussi une étape de la haute randonnée pyrénéenne (HRP), 2 km le sépare de la frontière espagnole. De la terrasse le refuge offre une vue incontournable sur les vallées d'Aspe, Barétous et sur la plaine.</p>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">  <!-- col-sm-offset-3  col-xs-12 -->
        <div class="opacity3">
        <!-- insert <div class="card"> -->
          <h5>Les lieux :</h5>
          <h6>Une salle à manger et un salon</h6>
          <h6>Une chambre de 3 personnes, trois chambres de 4 personnes, et une mezzanine de 4 personnes</p>
          <h6>Deux sanitaires</h6>
          <h6>Deux salles de bains</h6>
          <h6>Une cuisine</h6>
          <h6></h6>
          <hr>
          <h5>Pour les groupes d'hiver nous mettons à dispositions :</h5>
          <h6>Un micro onde</h6>
          <h6>Deux frigos</h6>
          <h6>Un congélateur</h6>
          <h6>Deux fours</h6>
          <h6>Plaques de cuissons</h6>
          <h6>Un lave vaisselle professionnel</h6>
          <h6>Et le nécessaire de cuisine</h6>
        </div>
      </div>





    </div>

</div>


