---
title: Le Wagon - Middleman - contact
---

<div id="home" style="background-image: url(<%= image_path 'pica.jpg'%>)">
  <div class="container"></div>
    <div class="home-content">
      <%= image_tag "logo-white.png", width: "100" %>
      <h3>REFUGE JEANDEL</h3>
      <p>La Pierre Saint-Martin</p>
      <p>Adresse</p>
      <p>Numéro</p>
      <p>Facebook</p>
      <p>Instagram</p>
    </div>
  </div>
</div>
