---
title: Le Wagon - Middleman - contact
---

<div id="contact" style="background-image: url(<%= image_path 'pica.jpg'%>)">
  <div class="container"></div>
    <%= image_tag "logo-white.png", width: "208" %>
    <h4>REFUGE JEANDEL</h4>
    <div class="contact-content">
      <p>La Pierre Saint-Martin 64 570  ARETTE</p>
      <p>05 59 66 14 46   |   06 19 82 41 69</p>
    </div>


    <div class="footer-social-links">
      <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="#" title="Email" target="_blank"><i class="fa fa-envelope-o"></i></a>
    </div>


  </div>
</div>


