<div class="gallerie">

  <div class="container">

    <div class="photos">
      <h3>GALLERIE PHOTOS</h3>
    </div>

      <div id="my_carousel" class="carousel slide" data-ride="carousel">
      <!-- Bulles -->
        <ol class="carousel-indicators">
          <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
          <li data-target="#my_carousel" data-slide-to="1"></li>
          <li data-target="#my_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Slides -->
        <div class="carousel-inner">
        <!-- Page 1 -->
          <div class="item active">
            <div class="carousel-page">
              <img src="/images/refuge2.jpg" class="img-responsive img-rounded" style=" max-height: calc(100vh - 140px); min-height: auto; width: 100% ;"  />
            </div>
            <div class="carousel-caption">Voici le refuge au coeur de la Pierre Saint-Martin</div>
          </div>
        <!-- Page 2 -->
          <div class="item">
            <div class="carousel-page">
              <img src="/images/pica.jpg" class="img-responsive img-rounded" style=" max-height: calc(100vh - 140px); min-height: auto; width: 100% ;"  />
            </div>
            <div class="carousel-caption">Le Pic d'Anie l'hiver</div>
          </div>
        <!-- Page 3 -->
          <div class="item">
            <div class="carousel-page">
              <img src="/images/pic.JPG" class="img-responsive img-rounded" style=" max-height: calc(100vh - 140px); min-height: auto; width: 100% ;"  />
            </div>
            <div class="carousel-caption">Le Pic d'Anie l'été</div>
          </div>
        <!-- Contrôles -->
        <a class="left carousel-control" href="#my_carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#my_carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>


  </div>
</div>
