
<div id="prestations" style="background-image: url(<%= image_path 'pica.jpg'%>)">

  <div class="container">


      <div class="col-sm-6 col-xs-12">  <!-- col-sm-offset-3  col-xs-12 -->
        <div class="opacity">
        <!-- insert <div class="card"> -->
          <h4><strong>Tarifs été</strong> (mi mai à mi octobre) :</h4>
          <p>Repas du soir | 14€</p>
          <p>Nuitée | 15€</p>
          <p>Petit-déjeuné | 6€</p>
          <p>Demi-pension | 35€</p>
          <p>Nous avons également à disposition une alimentation de vivres de courses comprenant tout le nécessaire du randonneur.</p>
          <p>Nous proposons aussi des piques-niques à emporter et du snack à toutes heures.</p>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <!-- insert <div class="card"> -->
        <div class="opacity">
          <h4><strong>Tarifs hiver</strong> (mi décembre à fin mars) :</h4>
          <p>Location du refuge dans sa totalité en gestion libre pour les groupes allant jusqu'à 19 personnes, à la semaine ou au week-end. Tarif variable en fonction de la durée et de la période du séjour.</p>
          <p></p>
          <p><strong>Mode de paiement</strong>: Chèque / Espèce</p>
        </div>
      </div>


  </div>
</div>
