<div id="home" style="background-image: url(<%= image_path 'pica.jpg'%>)">
  <div class="container"></div>
    <div class="home-content">
      <%= image_tag "logo-white.png", width: "100" %>
      <h3><strong>Tarifs été</strong> (mi mai à mi octobre) :</h3>
      <p>Repas du soir | 14€</p>
      <p>Nuitée | 15€</p>
      <p>Petit-déjeuné | 6€</p>
      <p>Demi-pension | 35€</p>
      <p>Nous avons également à disposition une alimentation de vivres de courses comprenant tout le nécessaire du randonneur.</p>
      <p>Nous proposons aussi des piques-niques à emporter et du snack à toutes heures.</p>
    </div>
  </div>
</div>

<div id="home" style="background-image: url(<%= image_path 'pica.jpg'%>)">
  <div class="container"></div>
    <div class="home-content">
      <%= image_tag "logo-white.png", width: "100" %>
      <h3><strong>Tarifs hiver</strong> (mi décembre à fin mars) :</h3>
      <p>Location du refuge dans sa totalité en gestion libre pour les groupes allant jusqu'à 19 personnes, à la semaine ou au week-end. Tarif variable en fonction de la durée et de la période du séjour.</p>
      <p>Mode de paiement : Chèque / Espèce.</p>
    </div>
  </div>
</div>
